body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
}
.head-sec {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
#guess {
    text-align: center;
    border-bottom: 10px solid white;
    padding-bottom: 5%;
}
.box {
    margin: 0 47%;
    margin-top: -3.5%;
    text-align: center;
    background-color: purple;
    padding: 10px 20px;
}
.row {
    margin: 5%;
}
#main-sec1 {
    margin: 0 10%;
}
#input {
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
#main-btn {
    margin-top: 15px;
}